body {
    background: rgb(90, 90, 90);
    .app {
        max-width: 580px;
        height: 160px;
        padding: 50px 0;
        margin: auto;
        .headerWrapper {
            display: flex;
            justify-content: center;
            max-width: 565px;
            height: 60px;
            margin: auto;
            margin-right: 33px;
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            border-radius: 20px;
            box-shadow: 5px 5px 5px black;
            cursor: pointer; 
            .header {
                margin-right: 5px;
                margin: auto;
                font-size: 34px;
                font-weight: bold;
            }
        }

        .content {
            display: flex;
            .pokemonList {
                max-width: 340px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 10px;
            }
            .pageWrapper{
            //    height: 25px;
            }
            .infoWrapper {
                .typeFilter {
                    margin-left: 28px;
                    margin-top: 20px;
                    position: absolute;
                }
                .pokemonInfo {
                    margin: 202px 0 0 27px;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .app {
            .headerWrapper {
                max-width: 95%;
                margin-right: 41px;
            }
            max-width: 720px;
            .content {
                .pokemonList {
                    max-width: 420px;
                }
                .pageWrapper{
                    display: none;
                }
                .button {
                    display: none;
                }
                .infoWrapper {
                    margin-left: 430px;
                    margin-top: 0;
                    position: fixed;
                    .typeFilter {
                        width: 220px;
                    }
                    .pokemonInfo {
                        margin: 150px 0 0 27px;
                    }
                    .mobilePageWrapper {
                        margin: 650px auto;
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .mobilePageWrapper {
        display: none;
    }
}
